.reflectionCard {
    position: relative;
    /* width: 600px;
    height: 300px; */
    border: 1px solid black; 
    margin: 20px; 
    float: left;
}

.editBtn {
    float: left;
}

ul {
    list-style: none; 
}

.buttonBar {
    position: relative;
    background-color: lawngreen;
    /* width: 550px; */
    text-align: center;
}


