.reflectionCard {
    position: relative;
    background-color: beige;
    border: .25px solid black; 
    margin: 10px; 
    float: left;
    font-family: 'Slabo 27px', serif;
}


.editBtn {
    float: left;
}

ul {
    list-style: none; 
}

.li {
    background-color: beige;
}

.buttonBar {
    position: relative;
    background-color: rgb(112, 192, 230);
    /* width: 550px; */
    text-align: left;
}

.deleteBtn {
    float: right
}

h4 {
    font-size: 26px;
}

span {
    font-size: 12px;
}

#refDiv {
    background-color: beige;
}
