.reflectionCard {
    /* position: relative; */
    width: 800px;
    height: 200px;
    border: 1px solid black; 
    margin: 10px; 
    float: left;
}



.editBtn {
    float: left;
}

ul {
    list-style: none; 
}

.buttonBar {
    position: relative;
    background-color: lawngreen;
    /* width: 550px; */
    text-align: left;
}

.bmkBtn {
    float: right
}

