#formDiv {
    margin: 50px;
    padding: 50px;
    width: 85%;
    height: 400px;
    border: .25px solid black;
    position: relative;
    font-family: 'Slabo 27px', serif;
}

.input {
    margin: 50px
}

.button {
    float: right;
}