.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

nav {
  width: 100%;
  /* margin: 0 auto 20px auto; */
  text-align: center;
  font-size: 17px;
  background-color: lightblue;
  color: beige;
  /* padding: 5px;
  margin-bottom: 1px; */
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}