.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

nav {
  width: 100%;
  text-align: left;
  font-size: 17px;
  background-color: rgb(112, 192, 230);
  color: beige;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;

}

nav ul {
  list-style-type: none;
}

nav li {
  color: beige;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

nav li:hover {
  background-color: lightblue;
}

.navLink {
  text-decoration: none;
}
/* 
.header {
  background-color: rgb(112, 192, 230);
} */